.footer-row {
  padding: 3em 7em;
  display: flex;
  background: #1a2230;
  color: white;
}
.left-block {
  width: 70%;
  display: flex;
}

.footer-col {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.footer-col-heading {
  font-weight: 700;
  color: #797979;
}

.img-desc {
  display: inline;
}
.img-desc > p {
  display: inline;
}
.footer-links {
  text-decoration: none;
  color: #d7d7d7;
  font-size: 14px;
  line-height: 2;
}
.right-block {
  width: 30%;
  display: flex;
  flex-direction: column;
}
.footer-about {
  font-size: 14px;
  line-height: 1.7;
  font-weight: normal;
}
